<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="stylesheet" href="/static/css/test.css" />
    <script src="/static/js/test.js"></script>
    <title>Test</title>
  </head>
  <body>
    <main>
      <h1>Test</h1>
      <video id="video" width="640" height="480" autoplay></video>
      <button id="snap">Snap Photo</button>
      <p id="location"></p>
    </main>
  </body>
</html>
